.br-about-us{
    background-color: #ffffff;
    margin: 1rem 0 4rem 0;
}
.br-about-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
}
.br-about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 2rem;
}
.br-about-section-title{
    margin-bottom: 1rem;
}
.br-about-section-description{
    text-align: center;
    padding-bottom: 1rem;
}
.br-about-section-description span{
    /* create a line */
    display: inline-block;
    position: relative;
    height: 1px;
    width: 60%;
    background-color: #151515;
}