.br-footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    background-color: var(--color-secondary);
}
.br-footer-nav-button{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 1rem 0;
    width: 80%;
}
.br-footer-card{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem 0;
    width: 80%;
}
.br-footer-card-content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 1rem;
}
.br-footer-card-content h3{
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.br-footer-card-content p{
    margin-bottom: 1rem;
}
.br-footer-copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    width: 80%;
    border-top: 1px solid black;
}
.br-footer-copyright-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.br-footer-copyright-info p{
    margin-right: 2rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
    .br-footer-card{
        flex-direction: column;
    }
    .br-footer-card-content{
        flex-direction: column;
    }
    .br-footer-card-content-details{
        display: flex;
        flex-wrap: wrap;
    }
    .br-footer-card-content-details p{
        margin-right: 3rem;
    }
    .br-footer-card-content h3{
        margin-bottom: 0.5rem;
        padding-top: 2rem;
    }
}