.br-our-process{
    background-color: #ffffff;
    margin: 1rem 0 4rem 0;
}
.br-our-process-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
}
.br-process-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 2rem 0;
    margin-bottom: 2rem;
}
.br-process-section-title{
    margin-bottom: 2rem;
}
.br-process-section-description{
    text-align: center;
}
.br-process-section-description span{
    /* create a line */
    display: inline-block;
    position: relative;
    height: 1px;
    width: 60%;
    background-color: #151515;
    margin-top: 2rem;
}